/* card.css */

/* card.css */

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* This ensures the container takes up the full viewport height */
}

.correct-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: green;
  color: white;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  /* opacity: 0; */
  /* transition: opacity 0.5s ease-in-out; */
}

.false-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  color: white;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  /* opacity: 0; */
  /*transition: opacity 0.5s ease-in-out;*/
}

.card-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.correct-element.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.correct-element.fade-out {
  animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* card.css */


.card-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 12px;
  width: 100%;
}

.card-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card-button:hover {
  background-color: #0056b3;
}


/* newCardForm.css */

.form-container {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Center the form horizontally */
  text-align: center;
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form label {
  font-size: 16px;
  margin-bottom: 8px;
}

.form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 12px;
  width: 100%;
}

.form button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form button:hover {
  background-color: #0056b3;
}

/* homepage Title css*/

.homepage-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Page Title css*/


.page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* card.css */


